/* rule ==>  @media  */
/* type ==> screen print speetch all */
/* condition ==> min-width , max-width */

/* 360 */
@media (max-width:1200px){
    aside{
        display: block;
    }
}

@media (max-width: 991.98px) { 
     .w-65 {
        width: 100%;
    }
     aside.w-30{
        width: 60%;
     }
 }

@media (max-width: 767.98px) { 
    aside.w-30{
        display: none;
    }
    /* .w-65 , aside.w-30{
        width: 100%;
    } */
 }

@media (max-width: 575.98px) { 
    .w-48{
        width: 100%;
    }
        /* .w-65 , .w-48 {
            width: 100%;
        }
        aside.w-30{
            width: 100%;
        } */
        
 }

@media (max-width:400px){
    /* .w-65 , .w-48{
        width: 100%;
    } */
}


@media (min-width:900px){
    aside{
        background-color: lightblue;
    }
}


@media (min-width:400px) and (max-width:800px){
    aside{
        background-color: black;
        color: white;
    }
}


@media print{
    nav{
        display: none;
    }
}
